
/* google font import link and shared link */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Poppins:ital@0;1&family=Work+Sans:wght@400;800&display=swap');

*{
                
 font-family: 'Work Sans', sans-serif;
                            
}
.btn-primary{
 width: 180px;
 font-size: 1.2rem;
 color: #FFF;
height: 55px;
width: 160px;
border-radius: 8px;
background: #FF900E;
border: 0;
}

/* header style */

header{
 background: rgba(255, 144, 14, 0.10);   
 padding: 45px 240px;       
}
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;             
}
.nav-title{
 color:  #131313;
 margin: 50px;
font-size: 2rem;
font-weight: 700;
      
}
nav> ul {
  display: flex ;
}
ul>li{
list-style: none;
margin: 10px;

}
.banner-content{
max-width: 820px;
text-align: center;
margin: 0 auto;
 color:  #131313;
 font-size: .9rem;       
}
.banner-title-content{
 color:#131313;
   font-size: 4rem;
 font-weight: 700;
       
}
.banner img{
 width: 100%;
 margin-top: 15px;
}
.banner-description{
 color:black ;  
 font-weight: 400;     
}


main{
  max-width: 1920px;
  margin: 0 auto;
}
/* feature section style */

.feature-container{
  display: flex;
  align-items: center;
}
.feature-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  margin-top: 1rem;
}
.feature-content-container{
  padding-left: 6rem;
  padding-right: 6rem;
}
.feature-content-container .quick-list{
color: #727272;
font-size: 2rem;
font-weight: 500;

}
.feature-content-container .of-our{
color: #131313;
font-size: 2rem;
font-weight: 700;
}
.feature-content-container .feature-title{
  color: #FF900E;
  font-size:2rem;
  font-weight: 700;
  
}
.feature-content{
  color: #727272;
font-size: 1rem;
font-weight: 400;
}

/* facts section style */
.card-container{
  margin-right: 25px;
  margin-left: 25px;
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
.card-title{
  text-align: center;
width: 220px;
height: 220px;
border-radius: 8px;
border: 1px solid #FF900E;

}
.card-content{
 color: #727272;
font-size: 1.5rem;
font-weight: 700;
 padding: 45px 90px;
 margin: 10px;
} 

.sponsor-content{
 text-align: center;
color: #131313;
font-size: 2rem;
font-weight: 400;
width: 90;
}
.sponsor-content  p{
font-size: 1rem;
}
.sponsor-img-container{
display: flex;
justify-content: space-evenly;

}
.sponsor-img-container img{
  width: 200px;
  margin: 50px;
  padding-top: 100px;
}
.footer{
  border-radius: 8px;
background: #FFF4E7;
width: 100%;
height: 100px;
text-align: center;
margin-top: 30px;
padding-top:30px;
}
/* resposive for mobile device */

@media screen and (max-width:576px) {

  header{
    padding: 20px;
  }
  nav,
  .feature-container,
  .card-container,
  .sponsor-img-container{
    flex-direction: column;
  
  }

  .feature-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  
}



/* medium divice resposive */



@media screen and ( min-width:576px) and (max-width:960px) {
  nav,
  .feature-container,
  .sponsor-img-container
{
    flex-direction: column;
    
  }
  header{
    padding: 50px;
  }
 
}





